[
	{
		"_key": "hotline/queue",
		"_value": {
            "api_key": "VHlVc4fzty87sdag986rgidy8vihgeue5ybkefuyabskKSJDHVAJHrU3plF6YVmR0A7aWxRWuF9XhX11e07x",
            "host": "localhost",
            "password": "password",
            "port": "5672",
            "username": "hotline"
        }
	}
]
